In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [2]:
import bq_helper
from bq_helper import BigQueryHelper

chicago_taxi = bq_helper.BigQueryHelper(active_project="bigquery-public-data", dataset_name="chicago_taxi_trips")
bq_assistant = BigQueryHelper("bigquery-public-data", "chicago_taxi_trips")
bq_assistant.list_tables()
bq_assistant.head("taxi_trips", num_rows=3)
bq_assistant.table_schema("taxi_trips")

Using Kaggle's public dataset BigQuery integration.
Using Kaggle's public dataset BigQuery integration.

                      name                        ...                                                                description
0               unique_key                        ...                                            Unique identifier for the trip.
1                  taxi_id                        ...                                          A unique identifier for the taxi.
2     trip_start_timestamp                        ...                          When the trip started, rounded to the nearest ...
3       trip_end_timestamp                        ...                          When the trip ended, rounded to the nearest 15...
4             trip_seconds                        ...                                               Time of the trip in seconds.
5               trip_miles                        ...                                             Distance of the trip in miles.
6      pickup_census_tract                        ...                          The Census Tract where the trip began. For pri...
7     dropoff_census_tract                        ...                          The Census Tract where the trip ended. For pri...
8    pickup_community_area                        ...                                   The Community Area where the trip began.
9   dropoff_community_area                        ...                                   The Community Area where the trip ended.
10                    fare                        ...                                                     The fare for the trip.
11                    tips                        ...                          The tip for the trip. Cash tips generally will...
12                   tolls                        ...                                                    The tolls for the trip.
13                  extras                        ...                                                Extra charges for the trip.
14              trip_total                        ...                          Total cost of the trip, the total of the fare,...
15            payment_type                        ...                                              Type of payment for the trip.
16                 company                        ...                                                          The taxi company.
17         pickup_latitude                        ...                          The latitude of the center of the pickup censu...
18        pickup_longitude                        ...                          The longitude of the center of the pickup cens...
19         pickup_location                        ...                          The location of the center of the pickup censu...
20        dropoff_latitude                        ...                          The latitude of the center of the dropoff cens...
21       dropoff_longitude                        ...                          The longitude of the center of the dropoff cen...
22        dropoff_location                        ...                          The location of the center of the dropoff cens...

[23 rows x 4 columns]

In [6]:
query1 = '''
SELECT 
  EXTRACT(DAYOFWEEK FROM trip_start_timestamp) AS day,
  FORMAT('%3.2f', MAX(fare)) AS maximum_fare,
  FORMAT('%3.2f', MIN(fare)) AS minimum_fare,
  FORMAT('%3.2f', AVG(fare)) AS avg_fare,
  FORMAT('%3.2f', STDDEV(fare)) AS std_dev_fare,
  COUNT(1) AS rides
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
WHERE trip_seconds >= 240 AND fare > 0 AND fare <600
GROUP BY
  day
ORDER BY
  day
'''
response1 = chicago_taxi.query_to_pandas_safe(query1, max_gb_scanned=10)
response1.head(10)

   day maximum_fare minimum_fare avg_fare std_dev_fare     rides
0    1       599.50         0.01    14.17        12.17  18777330
1    2       599.00         0.01    14.48        13.01  19551750
2    3       599.85         0.01    13.58        12.28  21276337
3    4       599.65         0.01    13.69        12.34  22402276
4    5       597.00         0.01    13.71        12.29  23883600
5    6       599.85         0.01    13.10        11.48  25936498
6    7       592.50         0.01    12.06         9.85  23285519

In [ ]:

modelquery = """CREATE OR REPLACE MODEL chicagotaxi.taxifare_model_1
OPTIONS
  (model_type='linear_reg', labels=['trip_total']) AS


WITH params AS (
    SELECT
    1 AS TRAIN,
    2 AS EVAL
    ),
  taxitrips AS (
  SELECT
    trip_seconds,
    trip_miles,
    trip_total,
    EXTRACT(HOUR FROM trip_start_timestamp) AS hourofday,
    SQRT(POW((pickup_longitude - dropoff_longitude),2) + POW(( pickup_latitude - dropoff_latitude), 2)) as dist, 
    SQRT(POW((pickup_longitude - dropoff_longitude),2)) as longitude, 
    SQRT(POW((pickup_latitude - dropoff_latitude), 2)) as latitude 
  FROM
    `bigquery-public-data.chicago_taxi_trips.taxi_trips`, params
WHERE trip_seconds > 0 AND trip_total BETWEEN 3 and 200
    AND MOD(ABS(FARM_FINGERPRINT(CAST(trip_start_timestamp AS STRING))),1000) = params.TRAIN
  )

  SELECT *
  FROM taxitrips
        """

In [ ]:
evalquery = """SELECT
  SQRT(mean_squared_error) AS rmse
FROM
  ML.EVALUATE(MODEL chicagotaxi.taxifare_model_1,
  (

WITH params AS (
    SELECT
    1 AS TRAIN,
    2 AS EVAL
    ),
  taxitrips AS (
  SELECT
    trip_seconds,
    trip_miles,
    trip_total,
    EXTRACT(HOUR FROM trip_start_timestamp) AS hourofday,
    SQRT(POW((pickup_longitude - dropoff_longitude),2) + POW(( pickup_latitude - dropoff_latitude), 2)) as dist, 
    SQRT(POW((pickup_longitude - dropoff_longitude),2)) as longitude, 
    SQRT(POW((pickup_latitude - dropoff_latitude), 2)) as latitude 
  FROM
    `bigquery-public-data.chicago_taxi_trips.taxi_trips`, params
WHERE trip_seconds > 0 AND trip_total BETWEEN 3 and 200
    AND MOD(ABS(FARM_FINGERPRINT(CAST(trip_start_timestamp AS STRING))),1000) = params.EVAL
  )

  SELECT *
  FROM taxitrips

  ))
        """